{{ partial "head.html" . }}

<div class="grid" id="gallery">
  {{ partial "header.html" . }}
  {{ partial "horizontal_navigation.html" . }}
  <main class="gallery">
{{ range $.Site.Data.gallery.images }}
  <article>
    <a href="#{{ .order }}" data-caption-desc="{{ .description }}">
      <img src="{{.image}}" alt="{{.description}}" />
    </a>
    <a href="#x" class="lightbox-overlay" id="{{ .order }}"></a>
      <div class="lightbox-popup">
        <div class="lightbox-nav-wrap">
          <div class="lightbox-nav">
            <a class="lightbox-prev" href="#{{ sub .order 1 }}">&#171;</a>
          </div>
          <div class="lightbox-nav">
            <a class="lightbox-next" href="#{{ add .order 1 }}">&#187;</a>
          </div>
          <div class="lightbox-nav">
            <a class="lightbox-popup-close" href="#close">&times;</a>
          </div>
          <div>
            <div>
              <div>
                <div>
                  <a href="#{{ add .order 1 }}"><img class="lightbox-image" src="{{ .image }}" alt="{{ .title }}"></a>{{ if .description }}<p tabindex="0" class="lightbox-image-description">{{ .description }}<span class="lightbox-close-description">×</span></p>{{ end }}
                  <figcaption class="lightbox-caption">{{ if .title }}{{ .title }}{{ end }} {{ if .artist }}- By {{ .artist }}{{ end }}</figcaption>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </article>
{{ end }}
  </main>
  {{ partial "footer.html" . }}
</div>

</body>
</html>
